<!-- history-component.html -->
<div class="scrolling-table">
    <h3>Historial de tiradas</h3>
    <button class="btn btn-secondary mb-4" onclick="clearHistory()">Limpiar Historial</button>
    <table class="table table-bordered text-center" id="history-table">
        <thead>
            <tr>
                <th>Dados</th>
                <th>Total de los 3 más altos</th>
            </tr>
        </thead>
        <tbody id="history-container">
            <!-- Aquí se añadirán las tiradas previas como filas de la tabla -->
        </tbody>
    </table>
</div>