.dice {
    font-size: 40px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #007bff;
    /* Azul para los dados principales */
    color: white;
    border-radius: 10px;
    transition: transform 0.6s ease-in-out;
    /* Transición suave */
}

.history-dice {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    /* Azul para los dados en el historial */
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
}


.dice.animate {
    transform: rotate(360deg);
    /* Rotación del dado */
}

.dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Para que los dados se ajusten automáticamente al espacio disponible */
}

.dice-section {
    margin-top: 2%;
    margin-bottom: 8%;
}